#playrr {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

#playrr .slide {
    position: absolute;
    margin: 0; padding: 0;
    display: none;

}
#playrr .active {
    display: block;
}
#controls {
    position: absolute;
    width: inherit; height: inherit;
}
#dots {
    margin: 0; padding: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.controls ul {
    display: inline-block;
    margin: 0; padding: 0;
}
.dot {
    cursor: pointer;
    display:inline-block;
    margin: 0; padding: 0;
    background: #ccc;
    opacity: 0.4;
    transition: all ease .1s;
    width: 50px; height: 10px;
}
.dot:hover {
    background: #333;
}
.active-dot {
    background: #333;
}
#next, #prev {
    cursor: pointer;
    position: absolute;
    display: inline-block;
}
#next {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 40px; height: 40px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
}
#prev {
    top: 50%;
    transform: translateY(-50%);
    
    left: 20px;
    width: 40px; height: 40px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-45deg);
}